# pip install -r requirements.txt

# --------- base --------- #
torch>=1.10.0
torchvision>=0.11.0
pytorch-lightning>=1.5.10
opencv-python>=4.1.2.30

# --------- hydra --------- #
hydra-core>=1.1.0
hydra-colorlog>=1.1.0

# --------- loggers --------- #
# wandb

# --------- linters --------- #
black           # code formatting


# --------- others --------- #
pytest          # tests
python-dotenv~=0.20.0
omegaconf~=2.2.1

# --------- coco dataset --------- #
# sudo apt install cython3 # for pycocotools https://github.com/cocodataset/cocoapi/issues/172
# pycocotools
